<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Forgot password</h1>
    <form action="" method="POST">
      <label for="email">Email/username</label>
      <input type="email" name="email" id="email" />
      <br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
